<template>
  <div class="about w-full h-full p-20">
    <Loader :isLoading="isLoading" />
    <div
      class="w-full h-full grid grid-cols-2 bg-white border-8 border-yellow-500 relative"
    >
      <div class="flex items-center w-full overflow-auto">
        <div class="w-full">
          <img
            class="absolute h-32 pokeball"
            alt="pokeball"
            src="@/assets/pokeball-logo-app.png"
          />
          <div class="p-5">
            <div class="flex justify-center items-center">
              <img
                v-if="pokemon"
                alt="front-default"
                :src="pokemon.sprites.front_default"
              />
              <p
                v-if="!favorite"
                @click="addFavorite(pokemon)"
                class="flex items-center cursor-pointer"
              >
                <eva-icon name="star" fill="#CC0000"></eva-icon>
                Add to favorites
              </p>
              <p
                v-if="favorite"
                @click="removeFromFavorites(pokemon)"
                class="flex items-center cursor-pointer"
              >
                <eva-icon name="trash" fill="black"></eva-icon>
                Remove from favorites
              </p>
            </div>
            <p
              class="capitalize font-bold text-center border-b border-gray-800"
            >
              {{ pokemon.name }}
            </p>
            <div class="flex items-center justify-between">
              <p class="font-bold">Base Experience:</p>
              <p class="font-bold">{{ pokemon.base_experience }} XP</p>
            </div>
            <div class="flex items-center justify-between">
              <p class="font-bold">Weight:</p>
              <p class="font-bold">{{ pokemon.weight / 10 }} Kg</p>
            </div>
            <div class="flex items-center justify-between">
              <p class="font-bold">Height:</p>
              <p class="font-bold">{{ pokemon.height / 10 }} M</p>
            </div>
            <p class="font-bold">Types:</p>
            <div
              v-for="type in pokemon.types"
              :key="type.type.name"
              class="bg-blue-700 text-white py-1 px-2  rounded-sm inline-block pr-2 capitalize mr-2"
            >
              {{ type.type.name }}
            </div>
            <p class="font-bold">Abilities:</p>
            <div
              v-for="(ability, index) in pokemon.abilities"
              :key="index"
              class="bg-red-700 text-white py-1 px-2  rounded-sm inline-block pr-2 capitalize mr-2"
            >
              {{ ability.ability.name }}
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-center w-full overflow-auto">
        <div class="w-full">
          <StatsChart v-if="pokemon" :pokemonStats="pokemon" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { find } from 'lodash';
import api from '../api';
import StatsChart from '../components/StatsChart';
import Loader from '../components/Loader';

export default {
  components: {
    StatsChart,
    Loader
  },
  data() {
    return {
      name: '',
      pokemon: {},
      favorite: false,
      isLoading: false
    };
  },
  methods: {
    async fetchData() {
      this.isLoading = true;
      let pokemonId = this.$route.params.id;
      let pokemon = await api.getPokemonDetailRequest(pokemonId);
      this.favorite = this.isFavorite(pokemon);
      this.pokemon = pokemon;
      this.isLoading = false;
    },
    addFavorite: function(pokemon) {
      this.$store.commit('addFavorite', {
        pokemon: { name: pokemon.name, url: `pokemon/${pokemon.id}/` },
        vm: this
      });
      this.favorite = this.isFavorite(pokemon);
    },
    isFavorite: function(pokemon) {
      const favorites = this.getFavoritesPokemon();
      let pokemonExist = find(favorites, ['name', pokemon.name]);
      return pokemonExist ? true : false;
    },
    getFavoritesPokemon: function() {
      return JSON.parse(this.$localStorage.get('favorites'));
    },
    removeFromFavorites: function(pokemon) {
      this.$store.commit('removeFavorite', {
        pokemon,
        vm: this
      });
      this.favorite = this.isFavorite(pokemon);
    }
  },
  created() {
    this.fetchData();
  }
};
</script>
<style scoped lang="scss">
.pokeball {
  top: -4.2rem;
  margin: auto;
  left: 0;
  right: 0;
}
</style>
