<template>
  <div class="w-full grid grid-cols-5 gap-8 p-5">
    <PokemonCard
      v-for="pokemon in pokemons"
      :key="pokemon.name"
      :name="pokemon.name"
      :pokemonData="pokemon"
      :hasRemove="true"
      @remove-pokemon="show"
    />
    <v-dialog :clickToClose="false" />
    <h1
      v-if="pokemons.length === 0"
      class="text-4xl col-span-5 text-center text-yellow-500 py-5"
    >You don't have any favorite Pokemon yet</h1>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import PokemonCard from '../components/PokemonCard';

export default {
  name: 'Favorites',
  components: {
    PokemonCard
  },
  data() {
    return {
      pokemons: []
    };
  },
  async created() {
    this.getFavorites();
    this.pokemons = this.favorites;
  },
  methods: {
    removeFromFavorites: function(pokemon) {
      this.$store.commit('removeFavorite', {
        pokemon,
        vm: this
      });
      this.setPokemons();
      this.hide();
    },
    getFavoritesPokemon: function() {
      return JSON.parse(this.$localStorage.get('favorites'));
    },
    setPokemons: function() {
      this.pokemons = this.getFavoritesPokemon();
    },
    show(pokemon) {
      this.$modal.show('dialog', {
        title: 'Remove Pokemon',
        text: 'Do you want to remove it?',
        buttons: [
          {
            title: 'Cancel',
            handler: () => {
              this.currentPokemon = pokemon;
              this.hide();
            }
          },
          {
            title: 'Yes!',
            handler: () => {
              this.removeFromFavorites(pokemon);
            }
          }
        ]
      });
    },
    getFavorites: function() {
      let pokemons = [];
      if (localStorage.getItem('favorites')) {
        pokemons = JSON.parse(localStorage.getItem('favorites'));
      }
      this.$store.commit('getFavoritesPokemon', pokemons);
    },
    hide() {
      this.$modal.hide('dialog');
    }
  },
  computed: {
    ...mapState(['favorites'])
  }
};
</script>
