<template>
  <div
    class="pokemons-container w-full grid grid-cols-5 gap-8 p-5"
    v-infinite-scroll="fetchData"
    infinite-scroll-disabled="busy"
    infinite-scroll-distance="10"
  >
    <Loader :isLoading="isLoading" />
    <PokemonCard
      v-for="(pokemon, index) in pokemons"
      :key="index"
      :name="pokemon.name"
      :pokemonData="pokemon"
      @add-pokemon="addFavorite"
      :favorite="favorites.find(item => item.name === pokemon.name) && true"
    />
  </div>
</template>

<script>
import { get } from 'lodash';
import infiniteScroll from 'vue-infinite-scroll';
import { mapState } from 'vuex';
import api from '../api';
import PokemonCard from '../components/PokemonCard';
import Loader from '../components/Loader';

export default {
  name: 'Home',
  props: {
    msg: String
  },
  components: {
    PokemonCard,
    Loader
  },
  data() {
    return {
      pokemons: [],
      busy: false,
      nextUrl: null,
      isLoading: false
    };
  },
  methods: {
    addFavorite: function(pokemon) {
      this.$store.commit('addFavorite', { pokemon: pokemon, vm: this });
    },
    fetchData: async function() {
      this.busy = true;
      this.isLoading = true;
      let pokemons = [];
      pokemons = await api.getPokemonsRequest(this.nextUrl);
      let newPokemons = get(pokemons, 'results');
      let pokemonList = this.pokemons;
      this.nextUrl = pokemons.next;
      this.pokemons = [...pokemonList, ...newPokemons];
      this.busy = false;
      this.isLoading = false;
    },
    getFavorites: function() {
      let pokemons = [];
      if (localStorage.getItem('favorites')) {
        pokemons = JSON.parse(localStorage.getItem('favorites'));
      }
      this.$store.commit('getFavoritesPokemon', pokemons);
    }
  },
  directives: {
    infiniteScroll
  },
  mounted() {
    this.getFavorites();
    this.fetchData();
  },
  computed: {
    ...mapState(['favorites'])
  }
};
</script>

<style scoped lang="scss">
.pokemons-container {
  @media (min-width: 1500px) {
    grid-template-columns: repeat(7, minmax(0, 1fr)) !important;
  }
}
</style>
