<template>
  <loading
    :active.sync="isLoading"
    :is-full-page="fullPage"
    background-color="#3b4cca"
  ></loading>
</template>

<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
  name: 'Loader',
  props: {
    isLoading: Boolean
  },
  components: {
    Loading
  },
  data() {
    return {
      fullPage: true
    };
  }
};
</script>
