<template>
  <div
    class="pokemon-card border-solid border-8 border-yellow-500 hover:border-red-800 h-56 rounded-full grid items-center cursor-pointer bg-white hover:bg-gray-500"
  >
    <router-link
      :to="'/pokemon/' + getPokemonId(pokemonData.url)"
      class="hover:opacity-75"
    >
      <h2 class="font-sans font-bold text-center capitalize">{{ name }}</h2>
      <img
        class="h-24 mx-auto"
        alt="pokemon-logo"
        :src="pokemonImageUrl + getPokemonId(pokemonData.url) + '.png'"
      />
    </router-link>
    <eva-icon
      v-if="!hasRemove"
      :title="
        favorite ? 'You already have this pokemon' : 'Add to my favorites'
      "
      @click="$emit('add-pokemon', pokemonData)"
      class="flex items-center justify-center"
      name="star"
      animation="pulse"
      :fill="favorite ? '#CC0000' : 'black'"
    ></eva-icon>
    <eva-icon
      v-if="hasRemove"
      title="Remove pokemon"
      @click="$emit('remove-pokemon', pokemonData)"
      class="flex items-center justify-center"
      name="trash"
      animation="shake"
      fill="#CC0000"
    ></eva-icon>
  </div>
</template>

<script>
import { find } from 'lodash';
import { pokemonImageUrl } from '../../utils/constants';

export default {
  name: 'PokemonCard',
  props: {
    name: String,
    pokemonData: Object,
    hasRemove: Boolean,
    favorite: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      pokemonImageUrl: pokemonImageUrl
    };
  },
  methods: {
    getPokemonId: function(url) {
      let convert = url.split('/');
      let pokemonId = convert[convert.length - 2];
      return pokemonId;
    },
    isFavorite: function(pokemon) {
      const favorites = this.getFavoritesPokemon();
      let pokemonExist = find(favorites, ['name', pokemon.name]);
      return pokemonExist ? true : false;
    },
    getFavoritesPokemon: function() {
      return JSON.parse(this.$localStorage.get('favorites'));
    }
  }
};
</script>

<style scoped lang="scss">
.pokemon-card {
  box-shadow: 0 0 2px hsla(0, 0%, 6%, 0.2);
  transition: 0.3s;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }
}
</style>
