<template>
  <div ref="chart" class="chart"></div>
</template>

<script>
import ApexCharts from 'apexcharts/dist/apexcharts.js';
import { map, get } from 'lodash';

export default {
  name: 'StatsChart',
  props: {
    pokemonStats: Object
  },
  mounted() {
    let base_stats = map(get(this.pokemonStats, 'stats', []), item =>
      get(item, 'base_stat', 0)
    );

    let efforts = map(get(this.pokemonStats, 'stats', []), item =>
      get(item, 'effort', 0)
    );

    let stats_name = map(get(this.pokemonStats, 'stats', []), item =>
      get(item, 'stat.name', '--')
    );

    var options = {
      series: [
        {
          name: 'Base Stat',
          data: base_stats
        },
        {
          name: 'Effort',
          data: efforts
        }
      ],
      chart: {
        type: 'bar',
        height: 350
      },
      plotOptions: {
        bar: {
          horizontal: false,
          columnWidth: '55%',
          endingShape: 'rounded'
        }
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        show: true,
        width: 2,
        colors: ['transparent']
      },
      xaxis: {
        categories: stats_name
      },
      yaxis: {
        title: {
          text: 'Level'
        }
      },
      fill: {
        opacity: 1
      },
      tooltip: {
        y: {
          formatter: function(val) {
            return 'Lvl ' + val;
          }
        }
      }
    };

    if (this.$refs.chart) {
      var chart = new ApexCharts(this.$refs.chart, options);
      chart.render();
    }
  }
};
</script>
