<template>
  <div class="h-screen w-screen main-background">
    <div
      class="w-auto h-24 py-3 px-5 border-solid border-b-4 border-blue-900 flex items-center justify-between"
    >
      <router-link to="/pokemon" class="h-full">
        <img
          class="h-full"
          alt="pokemon-logo"
          src="@/assets/pokemon-app-full-logo.png"
        />
      </router-link>
      <router-link
        to="/pokemon/favorites"
        class="flex items-center text-yellow-400 font-bold cursor-pointer"
      >
        <eva-icon
          name="star"
          width="50"
          height="50"
          fill="#CC0000"
          animation="shake"
        ></eva-icon>
        My Favorites
      </router-link>
    </div>
    <div class="main-body">
      <router-view />
    </div>
  </div>
</template>

<style scoped lang="scss">
.main-background {
  background-color: #3b4cca;
}
.main-body {
  height: calc(100vh - 6rem);
  width: 100vw;
  overflow: auto;
}
</style>
